<%= render 'users/info', user: @user %>

<%= render 'form', book: @book %>

<h1>Book detail</h1>

<%= image_tag @bookf.user.get_profile_image(100,100) %>
<%= link_to user_path(@user) do%>
  <%= @bookf.user.name %>
<% end %>

<%= link_to book_path(@bookf) do%>
  <%= @bookf.title %>
<% end %>

<%= @bookf.body %>
<% if @user == current_user %>
    <%= link_to "Edit", edit_book_path(@bookf) %>
    <%= link_to "Destroy", book_path(@bookf), method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>